<div class="jumbotron">
    <h1 class="display-4">בית הספר לטבע</h1>
    <p class="lead">בית הספר לטבע סביבה וחברה, הוא בית ספר ייחודי, על אזורי בו לומדים תלמידים ותלמידות מכיתה א' ועד כיתה ט'.
        התלמידים/ות מגיעים מכל רחבי העיר תל-אביב -יפו.</p>
    <hr class="my-4">
    <p>בבית הספר 2 כיתות בכל שכבת גיל, סה"כ 18 כיתות אם.

        בבית הספר מרחיבים, מעבר לתכנית הלימודים הרגילה שנלמדת בכל בתי הספר של מערכת החינוך את מגמות
        טבע, סביבה וחברה.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">ראה עוד</a>
    </p>
  </div>