<div class="card">
    <img class="card-img-top" src={{teacher.image}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{teacher.fullName}}</h5>
      <p class="card-text">תעודת זהות : {{teacher.id}}</p>
      <p class="card-text">גיל : {{teacher.age}}</p>
      <p class="card-text">עיר מגורים : {{teacher.address}}</p>
      <p class="card-text" *ngFor="let i of teacher.profssion">מקצוע : {{i}}</p>
      <p class="card-text">כיתות : {{teacher.classArr}}</p>
      <p class="card-text">ותק : {{teacher.seniority}}</p>
      <p class="card-text">שעות עבודה בחודש : {{teacher.numberOfHourPerMonth}}</p>
      <p class="card-text">שכר לשעה : {{teacher.payPerHour}}</p>

      <p class="card-text"><small class="text-muted">שכר חודשי : ₪ {{teacher.payPerHour*teacher.numberOfHourPerMonth}}</small></p>
    </div>
</div>